body {
    height: 1900px;
}
.bg-section {
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 900px;
    width: 100%;
}
.flex-header {
    display: flex;
    justify-content: space-between;
    padding: 60px;
    align-items: center;
}
.logo {
    color: white;
}
.logo p {
    font-size: 28px;
    font-weight: bold;
    font-family: 'Dancing Script';
}
.ul-navigation {
    display: flex;
}
.li-navigation {
    margin-right: 27px;
}
.a-nav {
    color: white;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}
.title p {
    font-size: 100px;
    font-family: 'Lato', sans-serif;
    color: white;
}
.text p {
    font-size: 18px;
    color: white;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    line-height: 27px;
}
.button p {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    padding-left: 48px;
    padding-top: 30px;
    letter-spacing: 4.3px;
}
.text {
    padding-top: 46px;
}
.button {
    padding-top: 60px;
}
.text-class {
    width: 559px;
}
.button-class {
    border-radius: 36px;
    width: 307px;
    height: 71px;
    background-color: #325DFF;
}
.flex-display {
    display: flex;
    justify-content: center;
    align-items: center;
}
.title-text-button {
    margin-top: 170px;
}
.txt-img {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 600px;
}
.first-block {
    display: inline-block;
    width: 50%;
}
.second-block {
    width: 50%;
    display: inline-block;
}
.second-block img {
    width: 100%;
    height: 100%;
}
.first-text {
    width: 468px;
}
.first-text1 p {
    font-size: 50px;
    font-family: 'Lato', sans-serif;
    line-height: 60px;
}
.second-text {
    width: 457px;
    padding-top: 32px;
}
.second-text2 p {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}
.text-with-button {
    padding: 16%;
}

